.profile {
  display: flex;

  background: linear-gradient(
    180deg,
    rgba(240, 125, 234, 0.15) 0%,
    rgba(164, 96, 237, 0.15) 100%
  );
  border-radius: 10px;
  max-width: 300px;

  align-items: center;
  gap: 20px;
  justify-content: center;
  padding: 10px 20px;
  margin-left: 25px;

  margin-right: 10px;
}
.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.userImg {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}
.userName {
  font-weight: 400;
  font-size: 1.1rem;
  margin: 0;
}
